<h1>Stack Overflow Clone</h1>
<a href ="/questions/new">Questions</a>
<ul>
    {{#each questions}}
    <li>
        <h2>{{this.title}}</h2>
       <a href= '/questions/{{this.id}}''>Type:
    {{this.title}}</a>
   <p>{{this.description}}</p>

    </li>
    {{/each}}
</ul>

<a href="questions/new">New</a>