<h1>Stack Overflow Clone</h1>
<a href ="/questions/new">Questions</a>
<ul>
    {{#each questions}}
    <li>
       <a href= '/questions/{{this.id}}''>Type:
    {{this.title}}</a>
   
    </li>
    {{/each}}
</ul>

<a href="questions/new">New</a>