<h1>Post a Question</h1>
{{!-- 
<form action ='/questions' method='Post'>
{{!-- <p> --}}
    <label for="title" name="title"></label>
    <input type = "text"name="title">
{{!-- </p>
<p> --}}
    <label for="question" name="question"></label>
    <input type="text" name="question">
{{!-- </p>
<p> --}}
    <label for="answer" name="answer"></label>
    <input type="text" name="answer">
{{!-- </p> --}}
<button type ="submit">Post Question</button>
</form> --}}