<h1>Ask a Question</h1>

<form action="/questions" method="post">
    <label for="title" style= 'text-align: center; color:rgb(12, 1, 1); font-family:Gotham; font-size:24px; margin: 20px'>title</label>
    <br>
    <input id="title" type="text" name="title" style= 'width: 800px; height: 50px; margin: 20px'>
    <br>
    <label for="description" style= 'text-align: center; color:rgb(12, 1, 1); font-family:Gotham; font-size:24px; margin: 20px' >Description</label>
    <br>
    <input id="description" type="text" name="description" style= 'width: 800px; height: 100px; padding: 10px 10px 10px 10px; font-size: 24px; margin: 20px'>
    <br>
    <label for="user" style= 'text-align: center; color:rgb(12, 1, 1); font-family:Gotham; font-size:24px; margin: 20px'>User</label>
    <br>
    <input id="user" type="text" name="user" style= 'width: 800px; height: 50px; font-size: 24px; margin: 20px'>
    <br>
    <br>
    <label for=" date"
        style='text-align: center; color:rgb(12, 1, 1); font-family:Gotham; font-size:24px; margin: 20px'>Date</label>
    <br>
    <input id="date" type="text" name="date" value="{{this.postDate}}"
        style='width: 200px; height: 20px; padding: 10px 10px 10px 10px; margin: 18px; font-size: 16px; font-style: Arial'>
        <br>
    <button type="submit" style= 'width: 150px; height: 70px; padding: 10px 10px 10px 10px; margin: 1rem 24rem; background-color:rgb(156, 167, 163, 0.5); font-size: 20px; font-style: Arial'>Add a Question</button>
</form>

