<h1>Ask a Question</h1>

<form action="/questions" method="post">
    <label for="title">title</label>
    <input id="title" type="text" name="title">
    <label for="description">description</label>
    <input id="description" type="text" name="description">
    <label for="user">user</label>
    <input id="user" type="text" name="user">
    <button type="submit">Add a Question</button>
</form>